.icon {
  margin-top: 217px;
  flex-shrink: 0;
}

.h1 {
  margin-top: 40px ;
  margin-left: 16px;
  margin-right: 16px;

  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.p {
  text-align: center;
  margin-top: 16px;
  margin-left: 51px;
  margin-right: 51px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.button {
  margin-top: 135px;
}

.iconWrapper {
  margin-top: 30px;
  display: flex;
  gap: 8px;
}
