.input {
  background-color: #222428;
  padding: 15px 16px;
  border-radius: 8px;
  width: 343px;
  height: 52px;

  text-align: left;
  line-height: 22px;
  font-size: 17px;
  font-weight: 400;
  color: #808A95;

  cursor: pointer;
  border: none;
}
.input:hover {
  background-color: #433333;
}