.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  color: #2F778E;
  text-align: center;
  font-size: 17px;
  line-height: 22px;
  margin-left: 210px;
  font-weight: 600;
}
.button {
  width: 60px;
}
.button:hover {
  background-color: #fff;
}

.search {
  margin-top: 25px;
}